<% is_delivered_reminder = @note.is_reminder? && @note.reminder_delivered? %>
<% accordion_title = is_delivered_reminder ? 'Acknowledgments' : 'Confirmed Readers' %>
<% accordion_count = is_delivered_reminder ? @note.reminder_service.acknowledgments : @note.confirmed_reads %>
<% event_type_filter = is_delivered_reminder ? 'reminder_acknowledged' : 'read_confirmation' %>
<%= render 'shared/pulse_accordion', title: accordion_title, count: accordion_count do %>
  <div class="pulse-readers-list">
    <% @note.history_events.where(event_type: event_type_filter).includes(:user).order(happened_at: :desc).each do |event| %>
      <div class="pulse-reader-item">
        <div class="pulse-author-avatar">
          <% if event.user.image.attached? %>
            <img src="<%= event.user.image_path %>" alt="" class="pulse-avatar-img">
          <% end %>
          <span class="pulse-avatar-initials"><%= event.user.display_name.first.upcase %></span>
        </div>
        <a href="<%= event.user.path %>" class="pulse-reader-name"><%= event.user.display_name %></a>
        <span class="pulse-timestamp"><%= timeago(event.happened_at) %></span>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'shared/pulse_comments', commentable: @note %>
<%= render 'shared/pulse_backlinks', resource: @note %>
