<%# Confirmed Readers Section %>
<%= render 'shared/pulse_accordion', title: 'Confirmed Readers', count: @note.confirmed_reads do %>
  <div class="pulse-readers-list">
    <% @note.history_events.includes(:user).order(happened_at: :desc).each do |event| %>
      <div class="pulse-reader-item">
        <div class="pulse-author-avatar">
          <% if event.user.image.attached? %>
            <img src="<%= event.user.image_path %>" alt="" class="pulse-avatar-img">
          <% end %>
          <span class="pulse-avatar-initials"><%= event.user.display_name.first.upcase %></span>
        </div>
        <a href="<%= event.user.path %>" class="pulse-reader-name"><%= event.user.display_name %></a>
        <span class="pulse-timestamp"><%= timeago(event.happened_at) %></span>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'shared/pulse_comments', commentable: @note %>
<%= render 'shared/pulse_backlinks', resource: @note %>
