<%= render 'shared/show_resource_breadcrumbs', resource: nil do %>
  <i class='note-icon'></i> Note
<% end %>
<div style="height:16px"></div>
<%= form_with do |form| %>
  <div>
    <%= form.text_area :text, placeholder: "Note", autofocus: true, style: 'height:6em;width:100%;background:none;border:none;', value: @note.text %>
  </div>
  <%= render 'shared/multi_file_select', form: form %>
  <hr style="height:1px;" />
  <%= form.submit 'Post' %>
  <% if @current_studio.is_scene? %>
    <span>
      <%= octicon 'eye' %>
      Notes posted in scenes are publicly visible.
    </span>
  <% else %>
    <span>
      <%= octicon 'lock' %>
      Only members of this studio will see this note.
    </span>
  <% end %>
<% end %>
