<span data-controller="note" data-note-id="<%= @note.id %>">
<%= render 'shared/more_button', resource: @note, options: ['copy', (@current_studio.is_scene? ? nil : 'pin'), (@note.user_can_edit?(@current_user) ? 'edit' : nil)].compact %>
<%= render 'shared/show_resource_breadcrumbs', resource: @note %>
<h1 style="margin-top:0;"><%= @note.persisted_title %></h1>
<% if @note.is_comment? %>
  <p>
    <%= octicon 'reply' %>
    Replying to
    <i class="<%= @note.commentable.class.to_s.downcase %>-icon"></i>
    <strong><%= @note.commentable.class.to_s %></strong>
    <code><a href="<%= @note.commentable.path %>"><%= @note.commentable.truncated_id %></a></code>
  </p>
<% end %>
<p style="font-size:0.8em;">
  <%= render 'shared/created_by', resource: @note %>
</p>
<%= render 'shared/attachments_section', resource: @note %>
<div class="user-generated-markdown">
  <% if @note.text.present? %>
    <%= markdown(@note.text) %>
  <% else %>
    <p style="opacity:0.6;"><em>empty note</em></p>
  <% end %>
</div>
<%= render 'shared/note_metrics', note: @note, metric_url: "#{@note.path}/metric" %>
<hr/>
<div data-note-target="confirmSection">
  <%= render 'confirm' %>
</div>
</span>