<h1>Reset password</h1>
<p>
  <%= render 'shared/three_icon_row', large: true %>
</p>
<p>
  Enter your email address and we'll send you instructions to reset your password.
</p>

<%= form_with url: password_resets_path, method: :post, data: { turbo: false } do |form| %>
  <%= form.email_field :email, placeholder: 'Email', required: true, class: 'form-control' %>
  <div class="spacer"></div>
  <%= submit_tag "Send reset instructions" %>
  <br/>
  or
  <br/>
  <%= link_to 'Back to login', '/login' %>
<% end %>
