<%= render 'shared/show_resource_breadcrumbs', resource: "<i class='decision-icon'></i> Decision".html_safe %>
<div style="height:16px"></div>
<%= form_with do |form| %>
  <div>
    <%= form.text_field :question, placeholder: 'Question that this decision will answer', value: @decision.question %>
  </div>
  <div style="margin-top:8px;">
    <%= form.text_area :description, placeholder: 'Description (optional)', value: @decision.description %>
  </div>
  <%= render 'shared/multi_file_select', form: form %>
  <h3>Options</h3>
  <p>
    <%= form.select :options_open, options_for_select([['Everyone', true], ['Just you', false]], selected: 'Everyone') %>
    will be able to add options on the decision page.
  </p>
  <h3>Deadline</h3>
  <p>
    Voting will close at
  </p>
  <p>
    <%= render 'shared/deadline_input_fields', form: form, deadline: Time.current + 1.week %>
  </p>
  <hr style="height:1px;" />
  <%= form.submit 'Start Decision' %>
<% end %>
