<%= render 'shared/show_resource_breadcrumbs', resource: @decision %>
<br/>
<%= form_with url: "#{@decision.path}/settings" do |form| %>
  <div>
    <%= form.text_field :question, placeholder: 'Question that this decision will answer', value: @decision.question %>
  </div>
  <div style="margin-top:8px;" class="mention-autocomplete-container" data-controller="mention-autocomplete" data-mention-autocomplete-studio-path-value="<%= @current_superagent.path %>">
    <%= form.text_area :description, placeholder: 'Description (optional, use @ to mention users)', value: @decision.description, data: { mention_autocomplete_target: "input" } %>
    <div data-mention-autocomplete-target="dropdown" class="mention-dropdown"></div>
  </div>
  <h3>Options</h3>
  <p>
    <%= form.select :options_open, options_for_select([['Everyone', true], ['Just you', false]], selected: 'Everyone') %>
    can add options.
  </p>
  <h3>Deadline</h3>
  <%= render 'shared/deadline_input_fields', form: form, resource: @decision, close_now_option: true %>
  <hr style="height:1px;" />
  <%= form.submit 'Save' %>
<% end %>
