<div class="pulse-studio-info">
  <div class="pulse-breadcrumb">
    <a href="/"><%= @current_tenant.subdomain %></a>
    <span class="pulse-breadcrumb-sep">/</span>
    <span><%= @current_collective.collective_type.titleize %></span>
  </div>
  <div class="pulse-studio-info-row">
    <a href="<%= @current_collective.path %>">
      <img src="<%= @current_collective.image_path %>" alt="<%= @current_collective.name %>" class="pulse-studio-image">
    </a>
    <div class="pulse-studio-info-text">
      <a href="<%= @current_collective.path %>" class="pulse-sidebar-studio-name">
        <%= @current_collective.name %>
        <% if @current_collective.is_scene? %>
          <span class="pulse-visibility-icon" title="Scene activity is publicly visible"><%= octicon 'eye' %></span>
        <% else %>
          <span class="pulse-visibility-icon" title="Studio activity is only visible to studio members"><%= octicon 'lock' %></span>
        <% end %>
      </a>
      <% if @team -%>
      <div class="pulse-studio-meta">
        <a href="<%= @current_collective.path %>/members" class="pulse-member-link"><%= @team.count %> <%= 'member'.pluralize(@team.count) %></a>
      </div>
      <% end -%>
    </div>
  </div>
</div>
