<aside class="pulse-sidebar">
  <%= render 'pulse/sidebar_header' %>
  <%= render 'pulse/sidebar_studio_info' %>
  <%= render 'pulse/sidebar_cycle' %>
  <%= render 'pulse/sidebar_heartbeats' %>
  <%= render 'pulse/sidebar_nav' %>
  <div class="pulse-sidebar-footer">
    <a href="<%= @current_superagent.path %>" class="pulse-classic-link">&larr; Classic view</a>
  </div>
</aside>
