<%= form_with url: "/auth/identity/callback", method: :post, data: { turbo: false } do |form| %>
  <p>
    <%= form.email_field :auth_key, placeholder: 'Email' %>
  </p>
  <p>
    <%= form.password_field :password, placeholder: 'Password' %>
  </p>
  <%= submit_tag "Log in" %>
  <br/>
  or
  <br/>
  <%= link_to 'Create a new account', '/auth/identity/register' %>
<% end %>