<%= render 'shared/show_resource_breadcrumbs', resource: @showing_user %>
<img src="<%= @showing_user.image_url %>" style="height:64px;float:left;margin-right:12px;border-radius:50%;" />
<h1><%= @showing_user.display_name %><%= @showing_user.archived? ? ' (Archived)' : '' %></h1>
<p>
  <a href="<%= @showing_user.path %>">
    <code><%= @showing_user.handle %></code>
  </a>
</p>

<% if @current_user != @showing_user %>
  <% if @common_studios.count > 0 %>
  <% end %>
<% end %>
