<% if @current_studio != @current_tenant.main_studio %>
  <h4 style="display:inline-block;margin:0;">
    <%= link_to @current_studio.name, @current_studio.path || '/' %> / Team / <%= @showing_user.display_name %>
  </h4>
<% end %>
<img src="<%= @showing_user.image_url %>" style="height:64px;float:left;margin-right:12px;border-radius:50%;" />
<h1><%= @showing_user.display_name %><%= @showing_user.archived? ? ' (Archived)' : '' %></h1>
<p>
  <a href="<%= @showing_user.path %>">
    <code><%= @showing_user.handle %></code>
  </a>
</p>

<% @current_studio.notes.where(created_by: @showing_user).order(created_at: :desc).limit(20).each do |note| %>
  <%= render 'shared/timeline_note', note: note %>
  <hr style="height:1px;"/>
<% end %>

<% if false %>
  <%= render 'common_studios_activity' %>
<% end %>