<% backlinks_title = "Backlinks #{octicon('link', height: 24)}".html_safe %>
<%= render 'shared/collapseable_section', title: backlinks_title, title_superscript: "#{resource.backlinks.count}", header_level: 2, hidden: true do %>
  <p>
    Items that include a <%= render 'shared/copy_button', text: resource.shareable_link, message: 'link' %> to this <%= resource.class.name.downcase %> <%= resource.backlinks.any? ? 'are' : 'will be' %> listed here.
  </p>
  <ul>
    <% resource.backlinks.each do |r| %>
      <li>
        <% if r.respond_to?(:created_by_id) && blocked_user_ids.include?(r.created_by_id) %>
          <span class="pulse-body-text-muted">
            <%= octicon 'blocked', height: 12 %>
            A link from a user you have blocked
            <a href="<%= r.path %>" class="pulse-link pulse-body-text-muted">Show</a>
          </span>
        <% else %>
          <%= render 'shared/inline_resource_item', resource: r %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
