<% header_level ||= 1 %>
<% title_superscript ||= nil %>
<% hidden ||= false %>
<% lazy_load ||= nil %>
<% octicon ||= nil %>
<% target ||= nil %>
<% indent ||= false %>
<span
  data-controller="collapseable-section"
  >
  <h<%= header_level %> data-collapseable-section-target="header">
    <% if octicon %>
      <%= octicon octicon, height: header_level < 3 ? 24 : 16 %>
    <% end %>
    <span <%= target ? target.map { |k, v| "data-#{k}-target='#{v}'" }.join(' ').html_safe : '' %>>
      <%= title %>
      <% if title_superscript %>
        <span class="header-superscript">
          <% if title_superscript.is_a?(Hash) %>
            <% title_superscript.each do |key, val| %>
              <% if val.is_a?(Integer) && val > 0 %>
                <strong><%= val %> <%= key %></strong>
              <% else %>
                <%= val %> <%= key %>
              <% end %>
            <% end %>
          <% else %>
            <%= title_superscript %>
          <% end %>
        </span>
      <% end %>
    </span>
    <span data-collapseable-section-target="triangleRight" style="display:<%= hidden ? 'inline' : 'none' %>;">
      <%= octicon 'triangle-right', height: 20 %>
    </span>
    <span data-collapseable-section-target="triangleDown" style="display:<%= hidden ? 'none' : 'inline' %>;">
      <%= octicon 'triangle-down', height: 20 %>
    </span>
  </h<%= header_level %>>
  <% # border-left:1px solid var(--color-border-default); padding-left: 16px; %>
  <div data-collapseable-section-target="body" style="display:<%= hidden ? 'none' : 'block' %>;<%= indent ? 'padding-left:16px;border-left:1px solid var(--color-border-default);' : '' %>">
    <%= yield %>
    <div data-collapseable-section-target="lazyLoad" data-url="<%= lazy_load %>"></div>
  </div>
</span>