<ul>
  <li>
    <a href="<%= studio.current_cycle_path %>">Current Cycle</a>
  </li>
  <li>
    <a href="<%= studio.previous_cycle_path %>">Previous Cycle</a>
  </li>
  <li>
    <a href="<%= studio.path %>/cycles">All Cycles</a>
  </li>
  <li>
    <a href="<%= studio.path %>/backlinks">Backlinks</a>
  </li>
  <!-- <li>
    <a href="<%= studio.path %>/views">Views</a>
  </li> -->
</ul>
