<ul>
  <li>
    <a href="<%= collective.current_cycle_path %>">Current Cycle</a>
  </li>
  <li>
    <a href="<%= collective.previous_cycle_path %>">Previous Cycle</a>
  </li>
  <li>
    <a href="<%= collective.path %>/cycles">All Cycles</a>
  </li>
  <li>
    <a href="<%= collective.path %>/backlinks">Backlinks</a>
  </li>
  <!-- <li>
    <a href="<%= collective.path %>/views">Views</a>
  </li> -->
</ul>
