<%= form_with url: "#{@current_collective.path}/note" do |form| %>
  <%= render 'shared/markdown_editor', form: form,
        placeholder: @current_collective.private_workspace? ? "Note" : "Note (use @ to mention users)",
        autofocus: true,
        textarea_style: 'height:6em;width:100%;background:none;border:none;' %>
  <%= render 'shared/multi_file_select', form: form %>
  <%= form.submit 'Post' %>
  <span>
    <%= octicon 'lock' %>
    <%= @current_collective.private_workspace? ? "Only you will see this note." : "Notes posted in collectives are only visible to members of the collective." %>
  </span>
<% end %>
