<%= form_with url: "#{@current_studio.path}/note" do |form| %>
  <div>
    <%= form.text_area :text, placeholder: "Note", autofocus: true, style: 'height:6em;width:100%;background:none;border:none;' %>
  </div>
  <%= render 'shared/multi_file_select', form: form %>
  <%= form.submit 'Post' %>
  <% if @current_studio.is_scene? %>
    <span>
      <%= octicon 'eye' %>
      Notes posted in scenes are publicly visible.
    </span>
  <% else %>
    <span>
      <%= octicon 'lock' %>
      Notes posted in studios are only visible to members of the studio.
    </span>
  <% end %>
<% end %>
