<h1>Action Error: <code><%= action_name %></code></h1>

<% if resource %>
<h2>Resource</h2>
<p>
  <%= resource.class.to_s %> <a href="<%= resource.path %>"><%= resource.truncated_id %></a>
</p>
<% end %>

<h2>Error</h2>
<p>
  <%= error %>
</p>