<div class="homepage-studio-section">
  <%= render 'shared/more_button_studio', studio: studio %>
  <div>
    <a href="<%= studio.path %>">
      <img src="<%= studio.image_path %>" id="studio-image" style="height:33px; border-radius:10%;float:left;border:1px solid var(--color-border-default);"/>
      <h3 style="padding-top:4px;padding-left:46px;"><%= studio.name %></h3>
    </a>
  </div>
  <% if studio.description.present? %>
    <%= markdown(studio.description) %>
  <% end %>
</div>
