<% if @current_user %>
  <% unless @current_representation_session %>
    <a href="/studios/new"><button style="float:right;margin-top:8px;">New Studio</button></a>
  <% end %>
  <h2>
    <% if @studios.first.has_heartbeat %>
      <span title="heartbeats sent for all studios!">
        <%= octicon 'heart-fill', height: 24 %>
      </span>
    <% else %>
      <span title="heartbeats not yet sent for all studios">
        <%= octicon 'heart', height: 24 %>
      </span>
    <% end %>
    Your Studios
  </h2>
  <% if @studios.any? %>
    <ul>
      <% @studios.each.with_index do |studio, index| %>
        <li>
          <% if studio.has_heartbeat %>
            <span title="heartbeat sent">
              <%= octicon 'heart-fill' %>
            </span>
          <% else %>
            <span title="heartbeat not yet sent">
              <%= octicon 'heart' %>
            </span>
          <% end %>
          <a href="<%= studio.path %>">
            <img src="<%= studio.image_path %>" style="height:1em;width:1em;border-radius:4px;margin-bottom:-2px;">
            <%= studio.name %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No studios yet.</p>
  <% end %>

  <% if @current_tenant.allow_main_studio_items? %>
    <h2>Create</h2>
    <p>
      <i class="note-icon large-icon" style="height:2em;float:left;margin-right:12px"></i>
      <a href="/note"><button>New Note</button></a>
    </p>
    <p>
      <i class="decision-icon large-icon" style="height:2em;float:left;margin-right:12px"></i>
      <a href="/decide"><button>New Decision</button></a>
    </p>
    <p>
      <i class="commitment-icon large-icon" style="height:2em;float:left;margin-right:12px"></i>
      <a href="/commit"><button>New Commitment</button></a>
    </p>
  <% end %>
<% else %>
  <p><a href="/login">Log in</a></p>
<% end %>