<div class="pulse-participants-list">
  <% @commitment.committed_participants.order(committed_at: :desc).limit(@participants_list_limit).each do |participant| %>
    <div class="pulse-participant">
      <%= render "shared/avatar", user: participant.user, title: participant.user&.name || "Anonymous" %>
      <% if participant.user %>
        <a href="<%= participant.user.path %>" class="pulse-participant-name"><%= participant.user.name %></a>
      <% else %>
        <span class="pulse-participant-name">Anonymous</span>
      <% end %>
      <span class="pulse-timestamp">Joined <%= timeago(participant.committed_at) %></span>
    </div>
  <% end %>
  <% if @commitment.participant_count > @participants_list_limit %>
    <div
      class="pulse-participant pulse-show-more"
      data-action="click->commitment#showMoreParticipants"
      data-commitment-target="moreParticipants"
      >
      <span>+ <%= @commitment.participant_count - @participants_list_limit %> more</span>
    </div>
  <% elsif @commitment.participant_count == 0 %>
    <p class="pulse-no-participants">No participants yet.</p>
  <% end %>
</div>
