<div class="pulse-participants-list">
  <% @commitment.committed_participants.order(committed_at: :desc).limit(@participants_list_limit).each do |participant| %>
    <div class="pulse-participant">
      <div class="pulse-author-avatar">
        <% if participant.user&.image_url.present? %>
          <img src="<%= participant.user.image_url %>" alt="" class="pulse-avatar-img">
        <% end %>
        <%
          name = participant.name || 'Anonymous'
          parts = name.to_s.split(/[\s\-_]+/)
          initials = parts.length >= 2 ? "#{parts[0][0]}#{parts[1][0]}".upcase : name[0..1].upcase
        %>
        <span class="pulse-avatar-initials"><%= initials %></span>
      </div>
      <% if participant.user %>
        <a href="<%= participant.user.path %>" class="pulse-participant-name"><%= participant.name || 'Anonymous' %></a>
      <% else %>
        <span class="pulse-participant-name"><%= participant.name || 'Anonymous' %></span>
      <% end %>
      <span class="pulse-timestamp">Joined <%= timeago(participant.committed_at) %></span>
    </div>
  <% end %>
  <% if @commitment.participant_count > @participants_list_limit %>
    <div
      class="pulse-participant pulse-show-more"
      data-action="click->commitment#showMoreParticipants"
      data-commitment-target="moreParticipants"
      >
      <span>+ <%= @commitment.participant_count - @participants_list_limit %> more</span>
    </div>
  <% elsif @commitment.participant_count == 0 %>
    <p class="pulse-no-participants">No participants yet.</p>
  <% end %>
</div>
