<span data-controller="commitment" data-commitment-id="<%= @commitment.id %>">
<%= render 'shared/more_button', resource: @commitment, options: ['copy', 'pin', @commitment.can_edit_settings?(@current_user) ? 'settings' : nil].compact %>
<%= render 'shared/show_resource_breadcrumbs', resource: @commitment %>
<h1 style="margin-top:0;"><%= @commitment.title %></h1>
<p style="font-size:0.8em;">
  <%= render 'shared/created_by', resource: @commitment %>
  <br/>
  <%= render 'shared/deadline_display', resource: @commitment %>
  <br/>
</p>
<span data-commitment-target="statusSection" data-url="<%= @commitment.path + '/status.html' %>">
  <%= render 'status' %>
</span>
<%= render 'shared/attachments_section', resource: @commitment %>
<% if @commitment.description && @commitment.description.length > 0 %>
  <h2>Description</h2>
  <div class="user-generated-markdown"><%= markdown(@commitment.description) %></div>
<% end %>
<% unless @commitment.closed? %>
  <h2>Join</h2>
  <div data-commitment-target="joinSection">
    <%= render 'join' %>
  </div>
<% end %>
<%= render 'participants' %>
<%= backlinks(@commitment) %>
</span>
