<% if @current_heartbeat.nil? %>
<span data-controller="heartbeat">
  <button
    data-heartbeat-target="sendButton"
    data-url="<%= @current_collective.path %>/heartbeats"
  >
    <%= octicon 'heart' %>
    <span data-heartbeat-target="sendButtonText">Send a Heartbeat</span>
  </button>
  <span data-heartbeat-target="fullHeart" style="display:none;">
    <%= octicon 'heart-fill' %>
  </span>
  <span data-heartbeat-target="heartbeatMessage">
    to access <strong><%= @current_collective.name %></strong> <%= @cycle.display_name.downcase %>.
  </span>
  <%= render 'shared/tooltip' do %>
    <p>Every studio has a tempo (daily, weekly, or monthly) that defines how frequently members of the studio should check in to keep everyone in sync.</p>
    <p><strong><%= @current_collective.name %></strong>'s tempo is set to <code><%= @current_collective.tempo %></code>.</p>
    <p style="margin-bottom:0;">Sending a heartbeat each <%= @cycle.unit %> signals your continuing presence to the group.</p>
  <% end %>
  <span data-heartbeat-target="heartbeatsIndexLink" style="display:none;">
    <a href="<%= @current_collective.path %>/heartbeats">View all heartbeats</a>.
  </span>
</span>
<% end %>