<div>
  <img src="<%= @current_collective.image_path %>" id="studio-image" style="margin-top:3px; height:83px; min-width:50px; border-radius:10%;float:left;"/>
  <div style="padding-top:30px;">
    <h4 style="padding-left:92px;margin-top:0px;margin-bottom:0;">
      <a href="/"><code><%= @current_tenant.subdomain %></code></a> /
      <%= @current_collective.collective_type.titleize %> <code><%= @current_collective.handle %></code>
      <% if @current_collective.is_scene? %>
        <span title="Scenes are publicly visible.">
          <%= octicon 'eye' %>
        </span>
      <% else %>
        <span title="Studios are private. Only other members can see your activity within this studio.">
          <%= octicon 'lock' %>
        </span>
      <% end %>
    </h4>
    <h1 style="padding-left:92px;margin-top:0;">
      <%= @current_collective.name %>
    </h1>
  </div>
</div>
