<%= render 'shared/more_button_studio', studio: @current_studio %>

<div>
  <img src="<%= @current_studio.image_path %>" id="studio-image" style="margin-top:3px; height:83px; min-width:50px; border-radius:10%;float:left;"/>
  <div style="padding-top:30px;">
    <h4 style="padding-left:92px;margin-top:0px;margin-bottom:0;">Studio</h4>
    <h1 style="padding-left:92px;margin-top:0;">
      <%= @current_studio.name %>
    </h1>
  </div>
</div>

<% if false %>
  <%= render 'shared/scratchpad_links_list', studio: @current_studio %>
<% end %>

<% if @current_studio.description.present? %>
  <%= markdown(@current_studio.description) %>
<% end %>

<h2>
  <%= octicon 'telescope', height: 24 %>
  Explore
</h2>
<%= render 'shared/explore', studio: @current_studio %>

<h2><%= octicon 'pin', height: 24 %> Pinned</h2>
<%= render 'shared/pinned', pinned_items: @pinned_items %>

<h2>
  <%= octicon 'people', height: 24 %>
  Team
</h2>
<%= render 'shared/team', team: @team %>
