<%= render 'shared/more_button_studio', studio: @current_studio %>

<div>
  <img src="<%= @current_studio.image_path %>" id="studio-image" style="margin-top:3px; height:83px; min-width:50px; border-radius:10%;float:left;"/>
  <div style="padding-top:30px;">
    <h4 style="padding-left:92px;margin-top:0px;margin-bottom:0;">Studio</h4>
    <h1 style="padding-left:92px;margin-top:0;">
      <%= @current_studio.name %>
    </h1>
  </div>
</div>

<% if false && @current_studio.description.present? %>
  <%= markdown(@current_studio.description) %>
<% end %>

<% if false %>
  <h2>
    <%= octicon 'people', height: 24 %>
    Studio Members (<%= @team.count %>)
  </h2>
  <%= render 'shared/team', team: @team %>
<% end %>

<!-- <h2>
  <i class="note-icon"></i>
  Notes
</h2> -->

<%= render 'shared/new_note' %>

<hr style="height:1px;" />

<% @current_studio.notes.order(created_at: :desc).limit(20).each do |note| %>
  <%= render 'shared/timeline_note', note: note %>
  <hr/>
<% end %>
