<%= render 'shared/pulse_breadcrumb', items: [
  [@current_collective.name, @current_collective.path],
  'Views'
] %>

<article class="pulse-resource-detail">
  <header class="pulse-resource-header">
    <div class="pulse-resource-header-top">
      <span class="pulse-resource-type-label">
        <%= octicon 'table', height: 14, class: 'pulse-resource-icon' %>
        Views
      </span>
    </div>
    <h1 class="pulse-resource-title">Views</h1>
  </header>

  <div class="pulse-resource-body">
    <p class="pulse-section-description">
      Views are filtered and sorted collections of studio content.
    </p>

    <ul class="pulse-list">
      <li class="pulse-list-item">
        <a href="<%= @current_collective.path %>/view?filters=mine" class="pulse-list-link">
          <%= octicon 'person', height: 16 %>
          Your items
        </a>
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'book', height: 16 %>
        Notes you have read
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'eye-closed', height: 16 %>
        Notes you have not read
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'check', height: 16 %>
        Decisions you have voted on
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'question', height: 16 %>
        Decisions you have not voted on
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'check-circle', height: 16 %>
        Commitments you have joined
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'circle', height: 16 %>
        Commitments you have not joined
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'clock', height: 16 %>
        Closing soon
      </li>
      <li class="pulse-list-item pulse-list-item-disabled">
        <%= octicon 'history', height: 16 %>
        Recently updated
      </li>
    </ul>
  </div>
</article>
