<div class="top-right-display" data-controller="notification-badge" data-notification-badge-poll-interval-value="30000">
<% if @current_user %>
  <%# Only auto-populate search filter for non-main collectives %>
  <% search_collective = @current_collective&.id != @current_tenant&.main_collective_id ? @current_collective : nil %>
  <% search_is_workspace = search_collective&.private_workspace? %>
  <div data-controller="header-search"
       data-header-search-collective-handle-value="<%= search_is_workspace ? '' : search_collective&.handle %>"
       data-header-search-collective-name-value="<%= search_is_workspace ? '' : search_collective&.name %>"
       data-header-search-workspace-value="<%= search_is_workspace ? 'true' : '' %>"
       data-header-search-list-id-value="<%= @current_list_for_search&.truncated_id %>"
       class="header-search-wrapper">
    <button type="button"
            class="header-search-toggle"
            data-header-search-target="toggle"
            data-action="click->header-search#toggleMobileSearch"
            aria-label="Search">
      <%= octicon 'search', height: 16 %>
    </button>
    <form action="/search" method="get" class="header-search-form" data-header-search-target="form">
      <span class="header-search-icon" data-action="click->header-search#focusInput">
        <%= octicon 'search', height: 16 %>
      </span>
      <input type="text"
             name="q"
             class="header-search-input"
             placeholder="Search"
             autocomplete="off"
             data-header-search-target="input"
             data-action="focus->header-search#onFocus blur->header-search#onBlur keydown.esc->header-search#collapseMobileSearch" />
    </form>
  </div>
  <% if @current_collective %>
    <div class="header-plus-button">
      <%= render 'shared/more_button_collective', collective: @current_collective %>
    </div>
  <% end %>
  <div>
    <a href="/notifications" class="notification-icon" title="Notifications">
      <%= octicon 'inbox', height: 20 %>
      <span class="notification-badge-count"
            data-notification-badge-target="count"
            style="<%= @unread_notification_count.to_i > 0 ? '' : 'display:none;' %>">
        <%= @unread_notification_count.to_i %>
      </span>
    </a>
  </div>
  <div data-controller="top-right-menu">
    <div data-top-right-menu-target="button" class="top-menu-button" data-action="click->top-right-menu#toggleMenu">
      <%= profile_pic(@current_user) %>
    </div>
    <div data-top-right-menu-target="menu" class="top-menu" style="display:none;">
      <%= render "layouts/user_menu" %>
    </div>
  </div>
<% else %>
  <%= link_to "Log in", "/login", class: "pulse-action-btn" %>
<% end %>
</div>
