<div class="top-right-display" data-controller="notification-badge" data-notification-badge-poll-interval-value="30000">
<% if @current_user %>
  <%# Only auto-populate search filter for non-main superagents (studios/scenes) %>
  <% search_superagent = @current_superagent&.id != @current_tenant&.main_superagent_id ? @current_superagent : nil %>
  <div style="display:inline-block;vertical-align:top;margin-right:12px;"
       data-controller="header-search"
       data-header-search-superagent-handle-value="<%= search_superagent&.handle %>"
       data-header-search-superagent-type-value="<%= search_superagent&.superagent_type %>"
       data-header-search-superagent-name-value="<%= search_superagent&.name %>">
    <form action="/search" method="get" class="header-search-form" data-header-search-target="form">
      <span class="header-search-icon" data-action="click->header-search#focusInput">
        <%= octicon 'search', height: 16 %>
      </span>
      <input type="text"
             name="q"
             class="header-search-input"
             placeholder="Search"
             autocomplete="off"
             data-header-search-target="input"
             data-action="focus->header-search#onFocus blur->header-search#onBlur" />
    </form>
  </div>
  <div style="display:inline-block;vertical-align:top;margin-right:8px;">
    <a href="/notifications" class="notification-icon" title="Notifications">
      <%= octicon 'inbox', height: 20 %>
      <span class="notification-badge-count"
            data-notification-badge-target="count"
            style="<%= @unread_notification_count.to_i > 0 ? '' : 'display:none;' %>">
        <%= @unread_notification_count.to_i %>
      </span>
    </a>
  </div>
  <div data-controller="top-right-menu" style="display:inline-block;">
    <div data-top-right-menu-target="button" class="top-menu-button" data-action="click->top-right-menu#toggleMenu">
      <%= profile_pic(@current_user) %>
    </div>
    <div data-top-right-menu-target="menu" class="top-menu" style="display:none;">
      <ul>
        <li>
          <%= octicon 'person' %>
          <a href="<%= @current_user.path %>">Profile</a>
        </li>
        <li>
          <%= octicon 'gear' %>
          <a href="<%= @current_user.path %>/settings">Settings</a>
        </li>
        <% if @current_tenant.is_admin?(@current_user) %>
          <li>
            <a href="/admin">
              <%= octicon 'tools' %> Admin
            </a>
          </li>
        <% end %>
        <li>
          <hr style="height:0;margin:0;border:none;border-top:1px solid var(--color-border-default);" />
        </li>
        <li>
          <%= octicon 'sign-out' %>
          <%= button_to "Sign Out", logout_path, method: :delete, style: "display:inline;" %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <%= button_to "Log in", "/login", method: :get %>
<% end %>
</div>
