<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Harmonic' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/<%= @current_app %>-favicon.ico" type="image/x-icon">
    <meta name="description" content="<%= @page_description || @current_app_description %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.development? %>
      <% vite_port = ENV.fetch('VITE_PORT', '5174') %>
      <script type="module">
        import RefreshRuntime from 'http://localhost:<%= vite_port %>/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
      <script type="module" src="http://localhost:<%= vite_port %>/@vite/client"></script>
      <script type="module" src="http://localhost:<%= vite_port %>/src/main.tsx"></script>
    <% else %>
      <% manifest = JSON.parse(File.read(Rails.root.join('public/v2/.vite/manifest.json'))) %>
      <% entry = manifest['src/main.tsx'] %>
      <link rel="stylesheet" href="/v2/<%= entry['css'].first %>">
      <script type="module" src="/v2/<%= entry['file'] %>"></script>
    <% end %>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__HARMONIC_CONTEXT__ = {
        currentUser: <%= raw(@current_user&.api_json&.to_json || 'null') %>,
        currentTenant: <%= raw({ subdomain: @current_tenant&.subdomain, name: @current_tenant&.name }.to_json) %>,
        currentSuperagent: <%= raw({ handle: @current_superagent&.handle, name: @current_superagent&.name }.to_json) %>,
        csrfToken: '<%= form_authenticity_token %>',
        apiBasePath: '/api/v1',
      };
    </script>
  </body>
</html>
